:root {
  --white: #fff;
  --black: #000;
  --gray: #999999;
  --purple: #442c61;
  --red: #f30808;
  --light-blue: #0051ff;
  --dark-blue: #00189e;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}

body {
  /*
  background-image: url(imagem/laptop-ga0823bfff_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  */
  background-color: var(--white);
  width: calc(min(1440px, 90%));
  min-height: 100vh
  
}



/*Menu*/
nav {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background: #6bd1df;
  color: var(--black);
}

/*Menu Hambúrguer*/
nav .menu-btn {
  color: var(--white);
  cursor: pointer;
  display: none;
}

.fa-brands, .fab {
  color: #42dce7 !important;
}

.social:hover {
  color: var(--black);
}

.conteudo-principal {
  position: relative;
  top: 212px;
  left: 47px;
}

.conteudo-segundario {
  font-size: 3rem;
  color: var(--black);
}

p {
  width: 100%;
  color: var(--black);
  font-size: 1rem;
  padding: 1px;
}

button {
  border: transparent;
  box-sizing: 1px 1px 1px 4px var(--white);;
  border-radius: 5px;
}

img {
  height: 117vh;
  width: 260vh;
  margin-top: -207px;
}














@media (max-width: 920px) {
  nav .menu-btn {
    display: block;
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #003840;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  nav ul.open {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 50px 0;
  }

  nav ul li a {
    font-size: 23px;
  }

  nav ul li a:hover {
    background: none;
    color: #4c5cb3;;
  }
}

